<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Create Buddy</h1>
    <p><strong>Address book:</strong></p>
    <hl th:text = "${addressBook.name}"></hl>
    <p><strong>Buddy List</strong></p>
    <table>
        <tr th:each="bud : ${addressBook.getCollection()}">
            <td th:text="${bud.name}"></td>
        </tr>
    </table>

    <p><strong>Add Buddy Form</strong></p>
    <form action="#" th:action="@{/Buddy}" th:object="${buddyInfo}" method="post">
        <p> Address Book: <input type="text" name="addrName" /></p>
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Address: <input type="text" th:field="*{addr}" /></p>
        <p>phoneNumber: <input type="text" th:field="*{num}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    <p><strong>Delete Buddy Form</strong></p>
    <form action="#" th:action="@{/Buddy}" method="delete">
        <p>Name: <input type="text" name="name" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</body>
</html>